/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  primary: #5801B7;
  --secondary: #F6EDFF;
  --webgray: #5F5F5F;
  --webgray2:#F5F5F5;
  --webgray3:#F3F3F3;
  --webBlue:#200E32;
  --webtext:#393939;
  --lightgrey:#D9D9D9;
  --platiniumcolor:#E7E7E7;
  --webBorder: #DCDCDC;
  --BlackBox: #1D1D1D;
  --bordercolor:#9E9E9E;
  --bordercolor2:#D4D4D4;
  --webtext2:#1B1B1B;
  --bgform:#FCFAFF;
  --headerBorder: #e5e7eb;
} */


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.4s ease-out forwards;
}
 
/* Business Solution Card Swiper height equal */
.swiper-slide {
     height: auto !important;
    }
.cardSwiper .swiper-slide{
transition: all .4s ease;
}



.card{
height:360px;
border-radius:20px;
overflow:hidden;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
}



.cardSwiper .swiper-slide-active,
.cardSwiper .swiper-slide-prev,
.cardSwiper .swiper-slide-next{
transform:scale(1);
filter:blur(0);
opacity:1;
z-index:10;
}



.cardSwiper 
.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next){
transform:scale(.85);

opacity:.6;
}
  

/* RetailBusinessSlider pagination color */

.RetailBusinessSliderPagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #F4E9FF;
  opacity: 1;
  border-radius: 50%;
  margin: 0 4px;
}

.RetailBusinessSliderPagination .swiper-pagination-bullet-active {
  background: #5801B7;
}




/* HomeCardSlider Home Page */

.sliderWrapper{
  max-width:1150px;
  margin:auto;
  padding:100px 0;
  overflow:hidden;
}

.sliderTrack{
  position:relative;
  height:400px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.sliderItem{
  position:absolute;
  /* transition:all .8s cubic-bezier(.32,.72,.38,.99); */
   transition:
    left .8s cubic-bezier(.32,.72,.38,.99),
    transform .8s cubic-bezier(.32,.72,.38,.99),
    opacity .5s ease;

  will-change: left, transform, opacity;
  border-radius:20px;
  overflow:hidden;
}

.sliderItem img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* center */
.centerItem{
  width:270px;
  height:355px;
  left:50%;
  transform:translateX(-50%);
  z-index:5;
}

/* left */
.activeLeft{
  width:270px;
  height:355px;
  left:25%;
  transform:translateX(-50%);
  z-index:4;
}

/* right */
.activeRight{
  width:270px;
  height:355px;
  left:75%;
  transform:translateX(-50%);
  z-index:4;
}

/* small outer */
.smallLeft{
  width:216px;
  height:286px;
  left:10%;
  transform:translateX(-50%);
  opacity:.6;
  z-index:3;
}

.smallRight{
  width:216px;
  height:286px;
  left:90%;
  transform:translateX(-50%);
  opacity:.6;
  z-index:3;
}

.activeLeft .sliderContent .sliderHeader,.activeRight .sliderContent .sliderHeader,
.centerItem .sliderContent .sliderHeader
{
  color:#FFF;
  font-size:14px;
  font-weight:600;
  letter-spacing: 0.28px;
  padding-top:12px;
}

.activeLeft .sliderContent .sliderDescription,.activeRight .sliderContent .sliderDescription,
.centerItem .sliderContent .sliderDescription
{
  color:#FFF;
  font-size:12.3px;
  font-weight:500;
  letter-spacing: 0.247px;
  line-height: 18.524px; 
}

.smallLeft .sliderContent .sliderHeader,.smallRight .sliderContent .sliderHeader
{
  color:#FFF;
  font-size:11.2px;
  font-weight:600;
  letter-spacing: 0.224px;
  padding-top:10px;
  line-height: normal; 
}

.smallLeft .sliderContent .sliderDescription,.smallRight .sliderContent .sliderDescription
{
 color:#FFF;
  font-size:9.88px;
  font-weight:500;
  letter-spacing: 0.198px;
}
/* outer extra */
.outerLeft{
  width:180px;
  height:240px;
  left:0%;
  transform:translateX(-50%);
  opacity:0;
  z-index:2;
}

.outerRight{
  width:180px;
  height:240px;
  left:100%;
  transform:translateX(0%);
  opacity:0;
  z-index:2;
}

.hiddenCard{
  opacity:0;
  pointer-events:none;
}

.HomeCardSliderGradient{
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000 100%);

  opacity: 1;

  filter: blur(40px);
  position: absolute;
  inset:85% 0% 0% 0%;
  z-index: 1;
}
.SubscriptionPlanGradient{

background: linear-gradient(180deg, rgba(246, 237, 255, 0.00) 15.74%, #F6EDFF 81.77%);
  opacity: 1;

  filter: blur(40px);
  position: absolute;
  inset:20% 0% 0% 0%;
  z-index: 1;
}
@media(max-width:1200px){
  .sliderWrapper{
    max-width:900px;
  }
  .activeLeft{
    width:220px;
    height:320px;
  }
  .activeRight{
    width:220px;
      height:320px;
  }
  .centerItem{
    width:220px;
      height:320px;
  }
  .smallLeft{
    width:180px;
    height:250px;
  }
  .smallRight{
    width:180px;
    height:250px;
  }
}


@media(max-width:1023px){
  .centerItem{
  width:270px;
  height:355px;
left:50%;
transform:translateX(-50%) scale(1);
z-index:5;
}



.activeLeft{
  width:216px;
  height:286px;
left:30%;
transform:translateX(-50%) scale(.9);
opacity:.8;
z-index:3;
}



.activeRight{
  width:216px;
  height:286px;
left:70%;
transform:translateX(-50%) scale(.9);
opacity:.8;
z-index:3;
}



.smallLeft{
left:30%;
opacity:-1;

}

.smallRight{
left:70%;
opacity:-1;

}
.outerRight{
  left:60%;
opacity:-1;
}
.outerLeft{
  opacity:-1;
}
}

@media(max-width:600px){
 .sliderTrack{
   height:360px;
  }
  .centerItem{
  width:212px;
  height:281px;
  }
  .activeRight{
     width:170px;
  height:225px;
  left:75%;
  }
    .activeLeft{
     width:170px;
  height:225px;
  left:25%;
  }
  .smallLeft,.smallRight{
    height:0px;
    width:0px;
  }
  .activeLeft .sliderContent .sliderDescription ,.activeRight .sliderContent .sliderDescription{
   font-size:8px; 
  }
    .activeLeft .sliderContent .sliderHeader ,.activeRight .sliderContent .sliderHeader{
   font-size:9px; 
  }
    .centerItem .sliderContent .sliderHeader{
   font-size:11px;
   padding-top:10px; 
  }
    .centerItem .sliderContent .sliderDescription{
   font-size:9.8px; 
  }
}

/* .primary{
  color: #5801B7 !important;
}
.secondary{
  color: #F6EDFF;
}
.webgray{
  color: #5F5F5F;
}
.webgray2{
  color: #F5F5F5;
}
.webgray3{
  color: #F3F3F3;
}
.webBlue{
  color: #200E32;
}
.webtext{
  color: #393939;
}
.lightgrey{
  color: #D9D9D9;
}
.platiniumcolor{
  color: #E7E7E7;
}
.webBorder{
  color: #DCDCDC;
}
.BlackBox{
  color: #1D1D1D;
}
.bordercolor{
  color: #9E9E9E;
}
.bordercolor2{
  color: #D4D4D4;
}
.webtext2{
  color: #1B1B1B;
}
.bgform{
  color: #FCFAFF;
} */

