
.img-responsive {
  /* transition: 1s; */
  max-width: 100%;
  height: auto;
  aspect-ratio: 2.5 / 2.5;
}
.card:hover div .content {
  display: none;
}
.card:hover div .img-responsive {
  display: block;
  width: 100%;
  min-height: 450px;
  object-fit: cover;
  object-position: center;
 
}
.card__collection {
  display: block;
  overflow: hidden;
}
.card__collection .cards {
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  /* margin: 10px; */
}
.card:hover .card__collection {
  display: flex;
  justify-content: center;
}
 
.card:hover .card__collection .cards .cards--three__rect-1 .shadow-1 {
 opacity: 0.8;
}
/* .card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
   left: 0%;
} */
.card__collection .cards--three__rect-1 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 8;
  transition: 0.3s;
}
.card:hover .card__collection .cards--three__rect-1 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 8;
  transition: 0.3s;
}
.card__collection .cards--three__rect-1 h5 {
  font-size: 14.43px;
  font-weight: 500;
  line-height: 21.78px;
  color: #fff;
  padding-top: 169px;
  padding-left: 20px;
  padding-right:20px;
}
.card__collection .cards--three__rect-1 span {
  font-size: 14.43px;
  font-weight: 500;
  line-height: 21.78px;
  padding-left: 20px;
  color: #fff;
}
.card__collection .cards--three__rect-1 p {
  font-size: 15.55px;
  color: #fff;
 padding-bottom:20px;
  font-weight: 500;
  line-height: 18.23px;
  padding-left: 20px;
  padding-right:20px;
  padding-top:22px;
}
.card__collection .cards--three__rect-1 .shadow-1 {
  background: #5801b7;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: .1s;
}
.content{
  padding:20px 0;
 
}
.swiper-slide{
  width:324px !important;
}
 
@media(max-width:414px){
  .swiper-slide{
    width:100% !important;
  }
}
 